.form {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-left: 50px;
}
.form-input {
  width: 360px;

  padding: 8px 16px;
  border: 1px solid #2e2f42;
  margin-top: 8px;
  outline: none;
}
.form-input:hover {
  border-color: black;
}
.form-input:focus {
  border-color: #4e75ff;
}
.form-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-weight: 500;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.form-btn:hover {
  background-color: #6c8cff;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
